[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
check-format="black -t py38 --check --diff edi tests"
format="black -t py38 edi tests"

[packages]
pydantic = "*"

[dev-packages]
pytest = "*"
black = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
